@charset "utf-8";
/* General Styles */


@font-face {
    font-family: 'Arial', sans-serif;
    src: url(Fonts/EagleLake-Regular.ttf);
}

ul {
  margin: 0;
  padding: 0;
  width: fit-content;
    padding-top: 10px;
    padding-bottom: 10px;
    align-items: left;
}
body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background: #ffffff;
    color:#f8fafc;
}
h4 {
    text-align: left;
    font-size: 12px;
    font-style: bold;
    font-weight: lighter;
    text-decoration: solid;
}

p {
    text-align: left;
    font-size: 12px;
    font-style: italic;
    font-weight: lighter;
    text-decoration: solid;
}

a:link {
  color: rgb(245, 245, 245);
}
a:visited {
  color: rgb(250, 250, 250);
}

/* mouse over link */
a:hover {
  color: rgb(255, 255, 255);
}

/* selected link */
a:active {
  color: rgb(235, 235, 235);
} 

/* Main Nav */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
        background:  rgb(140, 16, 255);
    padding: 0px;
    margin: 10px;
}
header .logo_header {
    display: flex;
    width: auto;
    height: auto;
}
header .logo {
    height: 80px; /* image fits the nav */
    width: auto;
}
header nav.horizontalNav {
    flex-grow: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
        background:  rgb(140, 16, 255);
}
header ul {
    display: flex;
    flex-grow: 1; /*takes up the remaining space of the nav evenly*/
    justify-content: space-around;
    list-style: none;
    padding: 0;
    margin: 0;
}
header li {
    flex: 1;
    text-align: center;
    padding: 1em 0;
    font-size: 1.3em;
    color: white;
}
header li:hover {
    background:rgb(140, 16, 255);
    color: white;
}
header a {
    display: block; /*clicking the li instead of the text will take you to the page*/
    text-decoration: none;
    color: white;
    text-shadow: 1px 1px black;
    font-family:'Times New Roman', Times, serif
}


 
/*Inner Nav*/
.navInImg {
    height: 300px;
    width: 210px;
    top: 100px;
    position: fixed;/*the inner nav doesn't move*/
}
.navInImg img{
    filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, .75));/*shadow in shape of the sign*/
}
.page-nav {
    /*position on page*/
    left:30px;
    top:242px;
    width:110px;
    height: 110px;
    padding: 10px 15px;
    position: fixed;/*when you scroll it doesn't move*/
}
.page-nav ul {
    /*vertical nav*/
    margin:0;
    padding:0;
    list-style: none;/*removes the link underline*/
}
.page-nav ul li {
    margin-bottom: 3px;
    text-align: center;
}
.page-nav ul a {/*text of page nav*/
    text-decoration: none;
    font-weight: bold;
    color:#d1cac5;
    font-size: 18px;
    font-family: "Eagle Lake", serif;
    font-style: normal;
}
.page-nav ul a:hover {/*c9lour change of page nav*/
    color: #22d3ee;
    text-decoration: overline underline;
}

a:visited {
  color: rgb(250, 250, 250);
}

/* mouse over link */
a:hover {
  color: rgb(255, 255, 255);
}

/* selected link */
a:active {
  color: rgb(235, 235, 235);
} 

/*Menu Section*/
#menu {
    padding: 0 125px;
    color: rgb(255, 255, 255);
}
#section{
    padding: 0 125px;
    text-align: center;
    font-size: 2rem;
    font-family: Verdana;/*font of the menu section*/
}
#menu_row{
    display: flex;/*the rows flex*/
    padding: 0 100px 0 100px;/*top and bottom padding*/
}
#menu_col {
    flex: 1;/* the columns are 50% of the page*/
    padding: 10px;
    box-shadow: 2px 2px 2px #bbb;/*shadow of column*/
    border: 1px solid;
        background-color: #6e00a1;
    margin: 10px;
}
#menu_col h2 {
    text-align: center;
    background-color: black;/*background colour of the div holding the h2*/
    color: rgb(255, 255, 255);/*h2 colour*/
    padding: 5px;
    font-family: cursive;
    margin: 0 0 15px;
}

#profile{
    width: 900px;/*image is same size as the container it is in*/
    height: 600px;
    border-radius: 15%;/*rounded edges*/
    padding: 5px 5px 5px;
    border: 2px solid #6699cc;
    margin: 0 auto;
    box-sizing: border-box;/*when the page gets smaller, it keeps the 5px margin*/
    box-shadow: 0px 12px 24px black; 
    border-radius: 25%;
    object-fit: cover;/*is spread out in the div*/

    flex: 0 1 calc(20% - 15px); /*box width, minus gap*/
    max-width: calc(40% - 60px);

    margin: 10;
    text-align: center;
    padding: 10px;
    background-color: #6e00a1;/**/
    border: 5px solid #6e00a1;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(216, 211, 211);
    grid-template-columns: repeat(10,1fr);
    
}

/*Appetizer*/
.box-container {/*container holding the container holding the content*/
    display: flex;/*can be flexed*/
    flex-wrap: wrap; /*items wrap if they don't fit in row*/
    gap: 15px;/*gap between the menu_col*/
    justify-content: space-between; /*spaces items out evenly*/
}
#image{
    width: 100%;/*image is same size as the container it is in*/
    height: auto;
    border-radius: 15%;/*rounded edges*/
    padding: 5px 5px 2px 5px;
    border: 2px solid rgb(131, 6, 247);
    margin: 0 auto;
    box-sizing: border-box;/*when the page gets smaller, it keeps the 5px margin*/
    transform: translateY(-5px); 
    box-shadow: 0px 12px 12px black; 
}
#image img{
    width: 100%;
    height: auto;
    border-radius: 15%;
    object-fit: cover;/*is spread out in the div*/
}
/*.box holds all the content for each item in appetizers, drinks and specials*/
.box {/*used w3schools to help with this*/
    flex: 0 1 calc(20% - 15px); /*box width, minus gap*/
    max-width: calc(20% - 15px);
    box-sizing: border-box;
    margin: 0;
    text-align: center;
    padding: 10px;
    background-color: rgb(40, 34, 44);/**/
    border: 5px solid #7802ff;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(255, 255, 255);
    grid-template-columns: repeat(10,1fr);
}
.box:hover {
    box-shadow: 2px 4px 8px rgba(218, 23, 23, 0.2);/*a shadow appears when you hover over the box*/
}



/* Main Courses */
#main-courses .main-course-item {/*item*/
    display: flex;
    align-items: left;
    justify-content: space-between;
    padding: 20px 0;
}
#main-courses .main-course-item .image-container {/*image container in item*/
   
    max-width: 40%;
    text-align: left;
    margin-left: 10px;
}
#main-courses .main-course-item .image-container img {/*image in item*/
    width: 100%;
    height: auto;
    border-radius: 15px;
    object-fit: cover;
}
#main-courses .main-course-item .text-container {/*text in item*/
    flex: 2;
    padding: 0 20px;
    text-align: left;
}
#main-courses .main-course-item .text-container h3 {
    font-size: 1.8rem;
    margin-bottom: 10px;
    color: white;
}
#main-courses .main-course-item .text-container p {
    font-size: 1rem;
    color: white;
    margin-bottom: 10px;
    text-align: left;
}
#main-courses .main-course-item .text-container h4 {
    font-size: 1.5rem;
    color: white;
    text-align: left;
}
/*Alternating image and text - images before images after the text*/
#main-courses .main-course-item #alternate {
    display: flex;
    flex-direction: row-reverse; /* Reverse the order for alternating items */
    padding: 20px 0;
    border-bottom: 1px solid #1220db;
    text-align: left;
}
#main-courses .main-course-item #alternate .image-container {
    flex: 1;
    max-width: 40%;
    text-align: left;
}
#main-courses .main-course-item #alternate .text-container {
    flex: 2;
    padding: 0 20px;
    text-align: left;
}

/*Drinks and Specials*/
#blablabla {/*makes the items in drinks and special even*/
    height: 65px;/*same size*/
}

/*Drinks*/
#drinks{
    flex: 1;/*half of the col*/
}
#drinks .box h5 {/*h5 is the side effects*/
    text-align: left;
    margin: 5px 0;
    text-decoration: underline;
}
#drinks .box p {/*decoration of the font*/
    text-align: left;
    font-size: 12px;
    font-style: italic;
    font-weight: lighter;
    text-decoration: solid;
}



/*Specials*/
#specials {
    flex: 1;/*other half of the col*/
}
#specials .box h5 {
    text-align: left;
    margin: 5px 0;
    text-decoration: underline;
}
#specials .box p {
    text-align: left;
    font-size: 12px;
    font-style: italic;
    font-weight: lighter;
    text-decoration: solid;
}

/*End of Menu Section*/
footer {
    text-align: center;
    padding: 20px;
    background-color: #6e00a1;
    color: #f8fafc;
    margin-top: 50px;
    font-weight: bold;
}

